#!/usr/bin/make -f
export DH_VERBOSE = 1

%:
	dh $@

override_dh_installdeb:
	cat debian/fio_version >> debian/vitastor-fio.substvars
	[ -f debian/qemu_version ] && (cat debian/qemu_version >> debian/vitastor-qemu.substvars) || true
	dh_installdeb
